<launch>
  <node pkg="exposure_control" type="changeParam" name="changeParam" args="" output="screen" respawn="false" >
  </node>    
 <param name="step_length_aec_" type="double" value=" 0.0000000000005" />
 <param name="step_length_gec_" type="double" value="0.00000001" />
 <param name="active_aec_" type="bool" value="true" />
 <param name="active_aec_ori" type="bool" value="false" />
 <param name="active_gec_" type="bool" value="false" />
 <param name="upper_bound_" type="double" value="50000" />
 <param name="target_id" type="int" value="8" />
 <param name="cam_name" type="string" value="/camera_array/cam1/image_raw" />
 <param name="info_mode" type="bool" value="true" />
</launch>
